
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
    <body>
        <form action="/chat" method="POST">
            <ul id="messages"></ul>
            <input id="myMessage" type="text", placeholder="myMessage">
            <button id="send">Send</button>    
        </form>
        

        <!--Jquery-->

        <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>

        <!--Socket io-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <script>
            const socket = io()

            socket.on('message', function (msg){
                $('#messages').append('<li>' + msg + '<li/>')
            })

            $('#send').on('click', function() {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
            })
        </script>
    </body>
</html>