<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP TAP</title>
</head>
<body>
    <form name="login" action="/login" id="login" method="post">
        <input type="text" name="userid">
        <input type="text" name="password">
        <button type="submit">
            Send
        </button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Userid</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>